* {
    box-sizing: border-box;
}

body {
    margin: 2rem;
    background-color: bisque;
}

//Aquí va el header
@import "_header.scss";

footer {
    address {
        p {
            color: aqua
        }
    }
    p {color: lime}
}