@mixin reset($tipo: full) {
    @if ($tipo==full) {
        margin: 0;
        padding: 0;
    }
    @else if ($tipo==vert) {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}


*,
:before, :after,
::before, ::after{
    box-sizing: border-box;
}

body {
    @include reset ();
}

header {
    position: relative;
    height: 100vh;
    
    div { 
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../asset/home-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: "";
            background-color: darkgray;
            opacity: 0.5; }
    }
    h1 {
        position: relative;
        clear: both;
        text-align: center;
        @include reset(vert);
        /* padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0; */
        line-height: 100vh;
        font-family: 'Abril Fatface', cursive;
        font-size: 2.4rem;
    }
}

nav {
    position: absolute;
    right: 0;
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    a {
        color: inherit;
        text-decoration: none;
        padding: 1.5rem 2rem;
    }
}

main {
    overflow: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lora', serif;
}
section {
    width: 75%;
    float: left;
    padding-right: 3rem;
    margin-right: 0; 

    h2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    div {
        width: 50%;
        float: left;
        padding-left: 1rem;
        padding-right: 1rem; 

        p:nth-of-type(1) {
            margin-top: 0;
        }
    }
}
aside {
    padding-left: 3rem;
    width: 25%;
    float: left;
}

footer {
    margin-top: 3rem;
    border-top: 1px solid silver;
    text-align: center;
    padding-top: 2rem;
    p {
        margin-top: 0;
    }
}