* {
    box-sizing: border-box
}

body {
    margin: 2rem;
}

div {
    width: 30%;
    padding: 1rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

ul {
    list-style-position: inside;
}