$font_titulos: 'Markazi+Text', cursive;
$background_titulos: lightskyblue;
$color_titulos: rgb(41, 39, 39);
$borde: olive; /* rgb(87, 39, 22); */
$c_pie-pagina: darkblue;

 

*, :after, :before, ::after, ::before {
    box-sizing: border-box
}

body, h1, h2, figure, nav ul, nav li {
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif; 
    color:$color_titulos;
}

section {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    figure {
        margin-left: -2.5%;
        margin-right: -2.5%
    }
    figcaption {
        font-size: .8rem;
        color: $c_pie-pagina;
    }
}


figure {
    img {
        width: 100%;
    }
}

table {
    margin-bottom: 1rem;
    tr {
        th, td {
        border: 1px solid;
        }
    }
}

div.wrapper-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $borde;

    nav.burguer {
        a {
            padding-top: .5rem;
        font-weight: 700;
        font-size: 2.5rem;
        }
    }
    h1 {
        text-align: left;
        color: $color_titulos;
        font-family: $font_titulos;
        font-weight: 700;
        font-size: 2.5rem;
    }
}
nav.menu-desk {
        display: none;
}   

h2 {
    font-size: 1.5rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -2.5%;
    margin-right: -2.5%;
    padding-left: 2.5%;
    padding-bottom: 0.3rem;
    font-family: $font_titulos;
    color: $color_titulos;
    border-bottom: 2px solid $borde;
    
}
h3 {
    font-size: 1.1rem;
    padding: .3rem;
    width: max-content;
    font-family: $font_titulos;
    color: $color_titulos;
    background-color: $borde;
    }

nav.menu-footer, nav.menu-desk { 
    
    ul {
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid $borde;
        border-top: 2px solid $borde;
        margin-bottom: 2rem;
        
        li {
            list-style: none;
            a {
                display: block;
                color: inherit;
                text-decoration: none;
                padding: 0.5rem 0.8rem;
                font-size: 0.8rem;
                font-weight: 700;

                &:hover {
                    background-color: $borde;
                    color: $background_titulos
                }
                 
            }
        }
    
    }
}

a.ir-desk, a.ir-footer {
    display: block;
    width: 90px;
    padding: 0.6rem 1rem;
    background-color: cadetblue;
    font-weight: 700;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;

    &:hover {
        background-color: $borde;
        color: $background_titulos;
    }
}

a.ir-desk {
    display: none;
}

footer  {
    margin-top: 2rem;
        
    address {
        text-align: center;
        font-size: .9rem;
    }
}    
    

@media screen and (min-width:620px) {
    
    h1 {
        padding-left: 2.5%;
    }
    a.ir-footer {
        display: none;
    }
    a.ir-desk {
        display: block;
    }

    div.wrapper-flex  {
        nav.burguer {
            display: none;
        }
    }
    nav.menu-desk {
        display: block;
        ul {
            li {
                a {
                    padding: 1.1rem 1rem;
                    font-size: 1.1rem; 
                }
            }
        }
    }
    

    nav.menu-footer {
        display: none;
        }

    footer {
        address {
            padding-top: 1rem;
            border-top: 2px solid gray;
        }
    }
}

@media screen and (min-width:900px) {
    section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    
        figure {
            margin-left: 2%;
            margin-bottom: 2rem;
        }
    }

    h1 {
        padding-left: 5%;
    }
    h2 {
        margin-left: -5%;
        margin-right: -5%;
        padding-left: 5%
    }

    section#geografia {
        .geografia {
            display: flex;
            
        }
        img {
            flex: 0 1 33%;
            padding: 2rem;
        }
        p {
            flex: 0 1 33%;
            padding: 2rem;
        }
        table {
            flex: 0 1 33%;
            padding: 2rem;
        }
    }

    section#historia {
        article {
            overflow: hidden;
            figure {
                float: right;
                width: 45%;
            }
        }
    }
    nav.menu-mobile { 
        ul {
            display: flex;
            justify-content: space-around;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    padding: 0.5rem 2rem;
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.8rem;
                }
            }
        
        }
    }

}

