$font_titulos: 'Markazi+Text', cursive;
$background_titulos: lightskyblue;
$color_titulos: rgb(87, 39, 22);

 

* {
    box-sizing: border-box
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    font-size: .9rem;
    color: rgb(41, 39, 39);
}

figure {
    margin: 0;
    img {
        width: 100%;
        max-width: 620px;
    }
    figcaption {
        font-size: .8rem;
        color: darkblue;
    }
}

table {
    tr {
        th, td {
        border: 1px solid;
        }
    }
}
a:not(footer a) {
    color: inherit;
}

div.wrapper-flex {
    display: flex;
    justify-content: space-between;
    background-color: $background_titulos;   

    nav.burguer {
        a {
        color: rgb(41, 39, 39);
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
        }
    }

    nav.menu-desk {
        display: none;
    }   

    h1 {
        margin: 0;
        padding: 0;
        text-align: left;
        color: $color_titulos;
        font-weight: 700;
        font-family: $font_titulos;
        font-size: 2rem;
   
    }
}


h2 {
    font-size: 1.2rem; 
    margin-top: 1rem;
    font-family: $font_titulos;
    background-color: $background_titulos;
}
h3 {
    font-size: 1.1rem;
    width: max-content;
    font-family: $font_titulos;
    background-color: $background_titulos;
}

nav.menu-footer { 
    
    ul {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        background-color: cadetblue; 
        li {
            border: 1px, solid;
            list-style: none;
            a {
                color: inherit;
                text-decoration: none;
                padding: 0.5rem .5rem;
                font-family: 'Roboto', sans-serif;
                font-size: 0.8rem;
                font-weight: 700;
            }
        }
    
    }
}

a.menu-desk {
    display: none;
}

footer  {
    margin-top: 2rem;
    border-top: 2px solid gray;
    text-align: center;
}    
    

@media screen and (min-width:620px) {

div.wrapper-flex  {
    nav.burguer {
        display: none;
    }
    nav.menu-desk {
        display: block;
      
        a.menu-desk {
            color: inherit;
            text-decoration: none;
            padding: 0.5rem 2rem;
            border: 2px solid darkred;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }
    }
}


h1 {
    margin: 0;
    text-align: center;
    color: darkred;
    font-family: "Permanent Marker", cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem; 
    margin-top: 5rem;
}

section#geografia {
    .geografia {
        display: flex;
        
    }
    img {
        flex: 0 1 33%;
        padding: 2rem;
    }
    p {
        flex: 0 1 33%;
        padding: 2rem;
    }
    table {
        flex: 0 1 33%;
        padding: 2rem;
    }


}

section#historia {
    article {
        overflow: hidden;
        figure {
            float: right;
            width: 45%;
        }
    }
}
nav.menu-mobile { 
    ul {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        li {
            list-style: none;
            a {
                text-decoration: none;
                padding: 0.5rem 2rem;
                font-family: 'Roboto', sans-serif;
                font-size: 0.8rem;
            }
        }
    
    }
}

}

