/* rgb(87, 39, 22); */
*, :after, :before, ::after, ::before {
  box-sizing: border-box;
}

body, h1, h2, figure, nav ul, nav li {
  margin: 0;
  padding: 0;
}

nav a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #292727;
}

section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
section figure {
  margin-left: -2.5%;
  margin-right: -2.5%;
}
section figcaption {
  font-size: 0.8rem;
  color: darkblue;
}

figure img {
  width: 100%;
}

table {
  margin-bottom: 1rem;
}
table tr th, table tr td {
  border: 1px solid;
}

div.wrapper-flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid olive;
}
div.wrapper-flex nav.burguer a {
  padding-top: 0.5rem;
  font-weight: 700;
  font-size: 2.5rem;
}
div.wrapper-flex h1 {
  text-align: left;
  color: #292727;
  font-family: "Markazi+Text", cursive;
  font-weight: 700;
  font-size: 2.5rem;
}

nav.menu-desk {
  display: none;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -2.5%;
  margin-right: -2.5%;
  padding-left: 2.5%;
  padding-bottom: 0.3rem;
  font-family: "Markazi+Text", cursive;
  color: #292727;
  border-bottom: 2px solid olive;
}

h3 {
  font-size: 1.1rem;
  padding: 0.3rem;
  width: max-content;
  font-family: "Markazi+Text", cursive;
  color: #292727;
  background-color: olive;
}

nav.menu-footer ul, nav.menu-desk ul {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid olive;
  border-top: 2px solid olive;
  margin-bottom: 2rem;
}
nav.menu-footer ul li, nav.menu-desk ul li {
  list-style: none;
}
nav.menu-footer ul li a, nav.menu-desk ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
}
nav.menu-footer ul li a:hover, nav.menu-desk ul li a:hover {
  background-color: olive;
  color: lightskyblue;
}

a.ir-desk, a.ir-footer {
  display: block;
  width: 90px;
  padding: 0.6rem 1rem;
  background-color: cadetblue;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
a.ir-desk:hover, a.ir-footer:hover {
  background-color: olive;
  color: lightskyblue;
}

a.ir-desk {
  display: none;
}

footer {
  margin-top: 2rem;
}
footer address {
  text-align: center;
  font-size: 0.9rem;
}

@media screen and (min-width: 620px) {
  h1 {
    padding-left: 2.5%;
  }

  a.ir-footer {
    display: none;
  }

  a.ir-desk {
    display: block;
  }

  div.wrapper-flex nav.burguer {
    display: none;
  }

  nav.menu-desk {
    display: block;
  }
  nav.menu-desk ul li a {
    padding: 1.1rem 1rem;
    font-size: 1.1rem;
  }

  nav.menu-footer {
    display: none;
  }

  footer address {
    padding-top: 1rem;
    border-top: 2px solid gray;
  }
}
@media screen and (min-width: 900px) {
  section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  section figure {
    margin-left: 2%;
    margin-bottom: 2rem;
  }

  h1 {
    padding-left: 5%;
  }

  h2 {
    margin-left: -5%;
    margin-right: -5%;
    padding-left: 5%;
  }

  section#geografia .geografia {
    display: flex;
  }
  section#geografia img {
    flex: 0 1 33%;
    padding: 2rem;
  }
  section#geografia p {
    flex: 0 1 33%;
    padding: 2rem;
  }
  section#geografia table {
    flex: 0 1 33%;
    padding: 2rem;
  }

  section#historia article {
    overflow: hidden;
  }
  section#historia article figure {
    float: right;
    width: 45%;
  }

  nav.menu-mobile ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  nav.menu-mobile ul li {
    list-style: none;
  }
  nav.menu-mobile ul li a {
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=css/style.css.map */
