@import url('https://fonts.googleapis.com/css?family=Alegreya|Crimson+Text|Nunito:200,300,400,600,700|Dekko|Handlee|Josefin+Sans|Montserrat+Alternates|Zilla+Slab');

* {
    box-sizing: border-box
}

section {
    width: 50%;
    float: left;
    padding: 2rem;
}

section.uno h1 {
    font-family: 'Handlee', cursive;
}
.uno h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.uno p {
    font-family: 'Zilla Slab', serif;
}
section.dos h1 {
    font-family: 'Dekko', cursive;
}
.dos h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
}

.dos p {
    font-family: 'Alegreya', serif;
}

.tres h1 {
    font-family: 'Handlee', cursive;    
}

.tres h2 {
    font-family: 'Zilla Slab', serif;
}

.tres p {
    font-family: 'Montserrat Alternates', sans-serif;
}

.cuatro h1 {
    font-family: 'Handlee', cursive;    
}

.cuatro h2 {
    font-family: 'Crimson Text', serif;
}

.cuatro p {
    font-family: 'Nunito', sans-serif;
}

.cinco h1 {
    font-family: 'Handlee', cursive;    
}

.cinco h2 {
    font-family: 'Nunito', sans-serif;
}

.cinco p {
    font-family: 'Crimson Text', serif;
}

.seis h1 {
    font-family: 'Handlee', cursive;    
}

.seis h2 {
    /* font-weight: 500; */
    font-family: 'Josefin Sans', sans-serif;
}

.seis p {
    font-family: 'Nunito', sans-serif;
}

main {
    overflow: auto;
}
