* {
    box-sizing: border-box
}

div {
    width: 20%;
}

img {
    width: 100%;
    max-width: 100%;
}

section.dragons div {
    float: left;
}
section.dragons::after {
    content: "";
    display: block;
    clear: both;
}

section.fondos {
    position: relative;
}
section.fondos::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(./asset/Starstreak_-_NBG.png);
    opacity: 0.5;
}
section.fondos2 {
    padding: 1rem;
    background-image: url(./asset/arena.jpg);
    background-repeat: repeat;
    
}

section.fondos2 div {
    border: 1px solid;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    background-image: url(./asset/dragon-komodo-255x255.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

